<!DOCTYPE HTML PUBLIC "-//W3C//DTD	HTML 4.01//EN">
<html>
<head><title>EventeX</title></head>
<body>
	<div style="text-align: center"> 
		<h1>Eventex</h1>
		<h2>Bem-vindo ao Eventex!</h2>
	</div>
	<div style="text-align: left">
		<p> O evento mais sensacional do ano depois do Dev in Rio! </p>
		<p> Você não pode perder essa oportunidade! </p>
		<p><b> Abertura das inscrições em 20/11/2011 </b></p>
		<p> Para dúvidas e mais informações entre em contato com eventex@eventex.com.br </p>
	</div>
	</p>	  
</body>
</html>